* {box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
body {font:14px/1.42 'Raleway',Arial,Helvetica,sans-serif;text-align:center;color:#444;background:#FDF9EE;overflow-x:hidden;word-wrap:break-word;text-rendering:optimizeLegibility;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,table,caption,tbody,tfoot,thead,tr,th,td,figure{border:0;margin:0;padding:0}
html {overflow-y: scroll;-webkit-text-size-adjust:auto;-webkit-overflow-scrolling: touch;-webkit-tap-highlight-color:#FF7A73;}

img,fieldset,abbr,acronym{border:0;}
article,aside,figure,figcaption,hgroup,footer,header,nav,section,video,object{display:block;}
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1;max-width: 100%; }

/*LAYOUT*/
.head 		{float:left;width:100%;position:relative;z-index:2;/*height:90px;*/ background:#fff;}
.home .head 	{/*position:absolute;*/}
.head .wrap 	{height:100%; /*display:inline-block;*/}
.main		{float:left;width:100%;display:block;min-height:500px;padding:45px 0 120px;}
.foot		{float:left;width:100%;}
.wrap 		{margin:0 auto;width:1170px;text-align:left;position:relative;max-width:96%;}

.row			 {margin:0 -15px;}
.full-width 	 	 {float:left;width:100%;padding:0 15px 30px;max-width:100%;}
.three-fourth 	 {float:left;width:75%;padding:0 15px 30px;max-width:100%;}
.one-half		 {float:left;width:50%;padding:0 15px 30px;max-width:100%;}
.one-third 		 {float:left;width:33.33%;padding:0 15px 30px;max-width:100%;}
.two-third 		{float:left;width:66.66%;padding:0 15px 30px;max-width:100%;}
.one-fourth 		 {float:left;width:25%;padding:0 15px 30px;max-width:100%;}
.one-fifth 		 {float:left;width:20%;padding:0 15px 30px;max-width:100%;}
.one-sixth 		 {float:left;width:16.66%;padding:0 15px 30px;max-width:100%;}

.ten-percent 	 {float:left;width:10%;padding:0 15px 30px;max-width:100%;}
.eighty-percent 	 {float:left;width:80%;padding:0 15px 30px;max-width:100%;}

.content 				{float:left;}
.cwrap					{float:left;width:100%;overflow-x:hidden;border-bottom:1px solid rgba(0,0,0,.15);-webkit-box-shadow:0 1px 0 rgba(255,255,255,1);-moz-box-shadow:0 1px 0 rgba(255,255,255,1);box-shadow:0 1px 0 rgba(255,255,255,1);margin:0 0 30px;}
.cwrap:last-child		{border:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;margin:0;}

.entries .one-fourth		{min-height:365px;}

.clearfix:before, 
.clearfix:after,
.row:before, 
.row:after  			{content: "";display:table;}
/*.clearfix:after,
.row:after 			{clear: both;}*/
.oldie .clearfix,
.oldie .row   		{zoom:1;}

::-moz-selection {background:#fff;color:#F4716A;-webkit-text-shadow:none;-moz-text-shadow:none;text-shadow:none;}
::selection 	 	{background:#fff;color:#F4716A;-webkit-text-shadow:none;-moz-text-shadow:none;text-shadow:none;}

/*TYPOGRAPHY*/
h1 {font-size:29px;font-weight:400;padding:0 0 12px;margin:0;}
h2 {font-size:25px;font-weight:400;padding:8px 0 13px;}
h3 {font-size:21px;font-weight:700;padding:13px 0 18px;}
h4 {font-size:18px;font-weight:500;padding:18px 0;}
h5 {font-size:15px;font-weight:500;padding:20px 0 19px;}
h6 {font-size:14px;font-weight:600;padding:20px 0;}

.s-title > h1	 {font-size:40px;line-height:1.2;font-weight:300;padding:0 15px 60px;margin-top:-10px;display:inline-block;width:100%;}

p 			{padding:0 0 18px;line-height:1.6;}
p:empty 		{display:none;}
.lead 		{font-size:17px;font-weight:500;}
strong 		{font-weight:700;}
em 			{font-weight:700;font-style:normal;color:#FF7A73;}

ul 				{margin:0 0 20px;}
ul > li	  		{list-style:none;position:relative;padding:0 0 10px 15px;}

ul ul 				{margin:10px 0 -10px 2px;}
/*ul ul li a:before		{content:"\00af";font-size:25px;top:12px;left:-4px; position:relative;} */			
ol			{margin:0 0 20px 25px;}
ol li 	  		{list-style:decimal outside;padding:0 0 10px 5px;}
ol ol 		{margin:10px 0 -10px 15px;}
nav ul 		{margin:0;}

nav li,.widget,.widget li	{padding:0;}
/*nav li:before,.widget:before,.widget li:before,.boxed li:before {display:none;}*/

hr {border:none;border-bottom:1px solid #ddd;padding:0;margin:0 0 30px;}

img 		{border:none;display:block;max-width:100%;}
a 		{color:#F4716A;outline:none;text-decoration:none;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
a:hover, a:focus,.post h2 a:hover {color:#F4716A;}
nav a:hover,.button:hover,.generic-button a:hover,.quicklinks .button:hover {text-decoration:none;}

.alert			{color:#fff !important;float:left;width:100%;margin:0 0 20px;padding:15px;font-size:17px;font-weight:700;}
.alert .close 	{background:none;padding:0;float:right;margin:3px 0 0;}
.alert-info 		{background:#3498db;}
.alert-success	{background:#2ecc71;}
.alert-warning	{background:#f1c40f;}
.alert-danger	{background:#e74c3c;}

p.drop-cap::first-letter {color:#F4716A;font:74px Georgia,serif;margin:8px 10px 0 0;float:left;}
p.drop-cap.secondary::first-letter	{background:#F4716A;color:#fff;padding:7px;margin-top:4px;}

table 	{width:100%;border-collapse:separate;border-spacing:1px;margin:0 0 20px;max-width:100%;}
th  		{padding:15px;border:1px solid #F4716A;background:#F4716A;color:#fff;}
td 		{padding:15px;border:1px solid #ddd;background:#fff;}
tr:nth-child(2n+1) td{background:#f6f6f6;}

.left-pic 	{float:left;margin:0 20px 20px 0;}
.right-pic 	{float:right;margin:0 0 20px 20px;}
.left		{float:left;}
.right		{float:right;}

.demoanimate {margin:0 20px 20px 0;width:25%;height:100px;position:relative;z-index:2;}

/*PRICING TABLES*/
.two-col div		{float:left;width:50%;}
.three-col div	{float:left;width:33.33%;}
.four-col div	{float:left;width:25%;}
.five-col div	{float:left;width:20%;}

.pricing 		{text-align:center;padding:20px 0;}
.pricing table 	{margin:0;}
.pricing th 		{height:80px;font-size:18px;background:#f6f6f6;color:#444;border-color:transparent;text-transform:uppercase;}
.pricing td 		{border-color:transparent;}
.pricing tr:nth-child(2) td 		{font-size:60px;font-weight:500;}
.pricing tr:nth-child(2) td sup 	{font-size:20px;}
.pricing tr:nth-child(2) td span 	{font-size:14px;}
.pricing .active			{margin-top:-20px;}
.pricing .active th 		{background:#F4716A !important;border-color:#F4716A !important;color:#fff !important;height:100px;}
.pricing .active .button 	{margin-bottom:20px;}

.pricing.secondary table		{border-collapse:collapse;border-spacing:0;}
.pricing.secondary th 		{background:#fff;border:none;border-bottom:1px solid #ddd;color:#444;}
.pricing.secondary td 		{border:none;border-bottom:1px solid #ddd;}
.pricing.secondary .active 	{border:1px solid #F4716A;margin-top:-21px;position:relative;z-index:2;-webkit-box-shadow:0 0 10px rgba(0,0,0,.2);-moz-box-shadow:0 0 10px rgba(0,0,0,.2);box-shadow:0 0 10px rgba(0,0,0,.2);}

/*HEADER*/
.logo {float:left;display:block;margin:22px 50px 5px 0;}

.main-nav 			{float:left;}
.main-nav ul 			{position:relative;/*display:inline-table;*/z-index:9999;}
.main-nav li 			{float:left;font-size:13px;font-weight:500;text-transform:uppercase;}
.main-nav li a 		{color:#444;float:left;/*height:90px;line-height:90px;*/-webkit-transition:color 0.2s ease-in;-moz-transition:color 0.2s ease-in;-o-transition:color 0.2s ease-in;-ms-transition:color 0.2s ease-in;transition:color 0.2s ease-in;}
.main-nav li a span 	{float:left;line-height:normal;margin:26px 0 26px;padding:8px 15px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
.main-nav li:hover a,
.main-nav .current-menu-item a 	{color:#fff;}
.main-nav li:hover span,
.main-nav .current-menu-item span {background:#FF7B74;color:#fff;}
.main-nav ul ul 					{display:none;width:150px;margin-left:0px;position: absolute; top: 100%;padding:0 15px 10px;background:#fff;border-top:3px solid #FF7B74;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;-webkit-box-shadow:0 1px 0 rgba(0,0,0,.15), 0 0 3px rgba(0,0,0,.15);-moz-box-shadow:0 1px 0 rgba(0,0,0,.15), 0 0 3px rgba(0,0,0,.15);box-shadow:0 1px 0 rgba(0,0,0,.15), 0 0 3px rgba(0,0,0,.15);}
.main-nav ul ul:after 				{content:"";position:absolute;top:-11px;left:43%;width: 0;height: 0;border-style: solid;border-width: 0 8px 8px 8px;border-color: transparent transparent #FF7B74 transparent;}
.main-nav ul ul li 					{float: none; position:relative;background:none;text-transform:none;}
.main-nav ul ul li a 					{height:auto;line-height:normal;padding:10px 0;border-bottom:1px solid #ddd;color:#666 !important;width:100%;}
.main-nav ul ul li span 				{padding:0;background:none !important;margin:0;color:#666 !important;}
.main-nav ul ul ul 					{position: absolute; left: 100%; top:0;margin-left:0;}
.main-nav ul ul li:last-child a 		{border-bottom:none;padding-bottom:0;}
.main-nav li:hover > ul			{display:block;}
.main-nav li:hover ul a,
.main-nav .current-menu-item ul a {color:#444;}
.main-nav ul ul li:hover a,
.main-nav ul ul li:hover span,
.main-nav ul ul .current-menu-item a	{color:#F4716A !important;}

.user-nav {float: right;  right: 0;}
.user-nav li 					{float:right;height:auto; width:110px;font-size:11px;font-weight:700;text-transform:uppercase;text-align:center;overflow:hidden;}
.user-nav li a 				{color:#fff !important;float:left;width:100%;height:100%;}
.user-nav .light a 	{background:#FF8E88;}
.user-nav .medium a 	{background:#FF7B74;}
.user-nav .dark a 	{background:#F4716A;}
.user-nav .ico 				{margin-top:14px;}
.user-nav li span {float: left; padding: 4px 10px; width:100%;}
.user-nav li:hover a,
.user-nav .current-menu-item a 			{background:#fff; color: #333 !important;}
.user-nav .light.current-menu-item a,
.user-nav .light:hover a 					{color:#FF8E88;}
.user-nav .medium.current-menu-item a,
.user-nav .medium:hover a 				{color:#FF7B74;}
.user-nav .dark.current-menu-item a,
.user-nav .dark:hover a 					{color:#F4716A;}
.user-nav .light:hover .i-search,
.user-nav .current-menu-item .i-search 		{background-position:-27px 0;}
.user-nav .medium:hover .i-account,
.user-nav .current-menu-item .i-account		{background-position:-80px 0;}
.user-nav .dark:hover .i-submitrecipe,
.user-nav .current-menu-item .i-submitrecipe 	{background-position:-133px 0;}

.head select {background:none;border:1px solid #ddd;padding:10px;height:40px;width:100%;color:#444;display:none;}

.slicknav_menu {display:none;}

/*CONTENT*/
.breadcrumbs			{float:left;width:100%;max-width:100%;margin:0 0 30px;}
.breadcrumbs ul 			{float:left;width:100%;padding:0 0 6px;border-bottom:1px solid rgba(0,0,0,.15);-webkit-box-shadow:0 1px 0 rgba(255,255,255,1);-moz-box-shadow:0 1px 0 rgba(255,255,255,1);box-shadow:0 1px 0 rgba(255,255,255,1);}
.breadcrumbs li 			{float:left;font-weight:700;color:#666;-webkit-text-shadow:0 1px 0 rgba(255,255,255,.4);-moz-text-shadow:0 1px 0 rgba(255,255,255,.4);text-shadow:0 1px 0 rgba(255,255,255,.4);}
.breadcrumbs li a 			{position:relative;color:#666;font-weight:400;}
.breadcrumbs li a:after 	{content:"\005C";font-weight:400;padding:0 8px;}

.container 		{float:left;display:block;width:100%;padding:17px 20px 0;position:relative;background:#fff;/*-webkit-box-shadow:0 0 1px rgba(0,0,0,.2);-moz-box-shadow:0 0 1px rgba(0,0,0,.2);box-shadow:0 0 1px rgba(0,0,0,.2);*/}
.container p 	{color:#666;}

.entry .container {width:100%;}

/*BUTTONS*/
.button 			{border:none;display:inline-block;text-decoration:none !important;position:relative;background:#FF7B74;color:#fff !important;text-align:center;font-size:13px;font-weight:700;padding:11px 14px;min-width:80px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-transform:uppercase;}
.button:hover, 
.button:focus 	{background:#F4716A;-webkit-box-shadow:inset 0 0 30px rgba(0,0,0,.2);-moz-box-shadow:inset 0 0 30px rgba(0,0,0,.2);box-shadow:inset 0 0 30px rgba(0,0,0,.2);}

.white	 		{color:#F4716A !important;background:#fff !important;}
.white:hover,
.white:focus 	{color:#fff !important;background:#F4716A !important;}

.gold { background: #DBBC94  none repeat scroll 0 0 !important;  font-size: 14px;  font-weight: 600;  padding: 5px 6px;}
.gold:hover,
.gold:focus 		{background:#D0B28C !important;}

.pink { background: #FF8E88  none repeat scroll 0 0 !important;  font-size: 14px;  font-weight: 600;  padding: 5px 6px;}
.pink:hover,
.pink:focus 		{background:#F4716A !important;}

.button.more 		{padding:11px 40px 11px 15px !important;min-width:110px;text-align:left !important;}
.button.more:after	{content:"";background:url(../images/ico/icons.png) -173px -13px no-repeat;width:10px;height:11px;position:absolute;top:17px;right:15px;}
.white.more:after	{background:url(../images/ico/icons.png) -185px -13px no-repeat;}
.white.more:hover:after {background-position:-173px -13px;}

.button.medium 	{font-size:16px !important;font-weight:700 !important;text-transform:none;}
.button.big		{font-size:18px !important;font-weight:700 !important;text-transform:none;}

/*HOME*/
.home .main 	{padding-top:0;}
.intro 		{position:relative;top:0;left:0;width:100%; margin:0 0 0px;overflow:hidden;}
.bg img		{ /*position:absolute;*/left:0;bottom:0;}
.intro .wrap { margin-top: 50px;  position: absolute;  top: 0;}

.text 			{color:#fff;}
.text a 			{color:#fff;text-decoration:underline;}
.text a:hover 	{text-decoration:none;}
.text h1 		{font-size:50px;line-height:1.2;font-weight:300;padding:0 0 30px;-webkit-text-shadow:0 1px 2px rgba(0,0,0,.1);-moz-text-shadow:0 1px 2px rgba(0,0,0,.1);text-shadow:0 1px 2px rgba(0,0,0,.1);}
.text p 			{font-size:15px;line-height:26px;font-weight:500;padding:0 0 15px;max-width:85%;-webkit-text-shadow:0 1px 2px rgba(0,0,0,.3);-moz-text-shadow:0 1px 2px rgba(0,0,0,.3);text-shadow:0 1px 2px rgba(0,0,0,.3);}
.text .more 		{margin:30px 0 65px;}

.intro .widget h3	{padding:3px 0 16px;font-size:16px;}
.intro .widget p 		{color:#666;font-size:14px;padding:0 0 18px;}
.textwrap  			{padding:0 !important;}
.intro .f-row 		{padding:3px 0 7px !important;}
.intro .bwrap		{padding:13px 0 20px !important;}

.icons			{display:inline-block;width:100%;}
.icons .s-title 	{text-align:center;}
.icons .ribbon	{margin:0 auto 25px;}
.icons .container	{text-align:center;padding:30px 20px 22px;}
.icons span			{float:left;width:100%;}
.icons .title		{font-size:32px;font-weight:800;color:#F5716A;margin:10px 0 -2px;}
.icons .subtitle		{font-size:17px;font-weight:700;color:#777;}

.cta 				{float:left;width:100%;text-align:center;margin:0 0 30px;}
.cta .button			{min-width:170px;}

.catbox 				{float:left;width:100%;text-align:center;margin:0 0 30px;}
.catbox .button			{min-width:170px;}



.featured		{float:left;max-width:100%;position:relative;}
h2.ribbon 		{background:url(../images/bgr/ribbons.png) -216px -61px no-repeat;padding:0 !important;width:189px;height:44px;text-align:center;font-size:16px;line-height:40px;font-weight:700;color:#fff !important;position:absolute;top:20px;left:35px;z-index:9999;display:inline-block;overflow:hidden;margin:0 0 30px;max-width:100%;}
h2.star			{background-position:-408px -61px;width:50px;height:60px;text-indent:-99999px;top:0;}
h2.bright		{background-position:0 -60px;width:210px;height:45px;position:static;font-size:22px;line-height:43px;font-weight:600;margin:0 0 26px;}
h2.large		{background-position:0 0;width:572px;height:58px;position:static;font-size:27px;line-height:56px;font-weight:600;}

.entry h2 		{padding-top:0;color:#666;}
.entry h2 a 		{color:#666;}
.entry h2 a:hover {color:#F4716A;}

.entries h2					{font-size:17px;font-weight:600;padding:0 0 17px;color:#454545;}
.entry figure 					{position:relative;overflow:hidden;}
.entry figcaption				{opacity:0;position:absolute;top:0;left:0;/* z-index:10; */text-align:center;background:rgba(255, 142, 136, 0.85);width:100%;height:100%;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.4s ease-in;-o-transition:all 0.4s ease-in;-ms-transition:all 0.4s ease-in;transition:all 0.4s ease-in;}
.entry figcaption a 			{float:left;width:100%;height:100%;color:#fff;font-size:17px;font-weight:600;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.4s ease-in;-o-transition:all 0.4s ease-in;-ms-transition:all 0.4s ease-in;transition:all 0.4s ease-in;}
.entry figcaption .ico 			{display:inline-block;margin:29% 0 3px;}
.entry figcaption span 			{width:100%;display:inline-block;-webkit-text-shadow:0 1px 0 rgba(0,0,0,.15);-moz-text-shadow:0 1px 0 rgba(0,0,0,.15);text-shadow:0 1px 0 rgba(0,0,0,.15);}
.entry figure:hover figcaption 	{opacity:1;}
.entry .excerpt 				{border-top:1px solid #ddd;width:100%;float:left;padding:15px 0 20px;}
.entry .excerpt p 			{padding:0;}

.featured h2					{font-size:16px;font-weight:700;}
blockquote					{position:relative;color:#666;border-top:1px solid #ddd;border-bottom:1px solid #ddd;width:100%;padding:18px 0 21px;margin:0 0 23px;}
blockquote:before 			{content:"";background:url(../images/ico/icons.png) -297px -17px no-repeat;width:15px;height:14px;float:left;position:relative;top:0;left:0;margin:0 5px 0 0;}
.featured .actions > div 		{border:none;padding:0;font-size:14px;}
.featured.two-third .button 		{width:230px;float:left;}
.featured.two-third .more 		{padding:10px 0 0 20px !important;}
.featured.one-third .button		{width:100%;margin:0 0 17px;}

.actions .difficulty			{border-right:0;width:47%;}
.actions .difficulty .ico 	{margin-bottom:-1px;}

.main .quicklinks 	{float:left;display:block;width:100%;text-align:center;padding:0 0 30px;}
.quicklinks .button 	{margin:0 13px;min-width:120px;}

.quicklinks:last-of-type {border:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;margin-bottom:0;}

.home-page .breadcrumbs {display:none;}
.home-page.logged-in .breadcrumbs {display:block;}

section.catbox 		{margin:0;background:#FDF9EE;color:#fff;padding:30px 0 60px;}
section.catbox h2 	{padding:0;line-height:48px;}

section.catbox1 		{margin:0;background:#F4716A;color:#fff;padding:30px 0;}
section.catbox1 h2 	{padding:0;line-height:48px;}

section.cta 		{margin:0;background:url("../images/recipe_bg.jpg") no-repeat;color:#fff;padding:30px 0;}
section.cta h2 	{padding:0;line-height:48px;}

/*BLOG*/
.post 					{float:left;width:100%;margin:0 0 30px;}
.post .entry-meta 		{float:left;width:90px;}
.post .date 				{float:left;width:90px;height:90px;overflow:hidden;background:#FF7B74;color:#fff;text-align:center;}
.day 					{display:inline-block;width:100%;height:61px;font-size:33px;line-height:61px;-webkit-text-shadow:0 1px 0 rgba(0,0,0,.15);-moz-text-shadow:0 1px 0 rgba(0,0,0,.15);text-shadow:0 1px 0 rgba(0,0,0,.15);}
.my 						{font-size:13px;display:inline-block;width:100%;padding:5px 0;border-top:1px solid rgba(0,0,0,.1);}
.avatar 				{float:left;width:90px;height:90px;overflow:hidden;color:#fff;text-align:center;position:relative;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
.avatar span 		{opacity:0;-ms-opacity:0;position:absolute;left:0;bottom:0;z-index:2;font-weight:400;width:100%;border:none;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
.avatar:hover span 	{opacity:1;-ms-opacity:1;background:#fff;color:#666;}

.post .container 		{float:left;width:780px;padding:0;}
.post .entry-featured 	{float:left;width:325px;overflow:hidden;}
.post .entry-content		{float:left;width:455px;padding:17px 20px 0;min-height:148px;}
.post .entry-content h2 	{font-size:22px;line-height:1.2;font-weight:500;padding:8px 0 23px;}
.post h2 a 				{color:#444;}

.actions				{display:inline-block;width:100%;vertical-align:sub;float:right;font-size:13px;}
.actions > div			{display:inline-block;width:100%;border-top:1px solid #ddd;padding:15px 0 0;margin:0 0 10px;
position:relative}	
.post .actions 			{width:455px;padding:0 20px;}
.post .actions > div 		{margin:11px 0 0;}

.actions div div				{float:left;border-right:1px solid #ddd;padding:0 15px 0 0;margin:0 14px 0 0;color:#666;}
.actions div div:last-child 	{border:none;padding:0;margin:0;}
.actions div div a 				{color:#666;}
.actions div div a:hover		{color:#F5716A;}
.actions .ico 			{margin:0 8px -3px 0;}
.actions .comments		{border-top:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;width:auto;}
.actions .more			{min-width:50px;}
.actions .more a			{color:#C5AA83;font-weight:500 !important;text-align:right !important;}
.actions .more a:hover	{color:#FF8E88;}
.actions .more:after 	{display:none;}

.pager 			{float:left;width:100%;text-align:center;margin:2px 0 30px;padding:30px 0 0;border-top:1px solid rgba(255,255,255,1);-webkit-box-shadow:0 -1px 0 rgba(0,0,0,.15);-moz-box-shadow:0 -1px 0 rgba(0,0,0,.15);box-shadow:0 -1px 0 rgba(0,0,0,.15);}
.pager a 		{display:inline-block;width:40px;height:40px;margin:0 3.5px;font-size:15px;line-height:40px;font-weight:500;background:#FF7B74;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#fff;-webkit-box-shadow:0 0 1px rgba(0,0,0,.2);-moz-box-shadow:0 0 1px rgba(0,0,0,.2);box-shadow:0 0 1px rgba(0,0,0,.2);}
.pager a:hover,
.pager .current 	{color:#FF7B74;background:#fff;}

.single .entry-featured					{width:100% !important;height:auto !important;}
.single .entry-content					{width:100% !important;padding:17px 20px 25px;}
.single .entry-content p					{color:#444;}

.comments 		{float:left;width:100%;border-top:1px solid rgba(255,255,255,1);-webkit-box-shadow:0 -1px 0 rgba(0,0,0,.15);-moz-box-shadow:0 -1px 0 rgba(0,0,0,.15);box-shadow:0 -1px 0 rgba(0,0,0,.15);}
.comments h2,
.zerocomments		{font-size:19px;padding:30px 0;}
.zerocomments		{margin-bottom:-30px;}
.comment-list	 			{margin:0;}
.comments .children 			{margin:0;display:inline-block;width:100%;}

.comments li  			{list-style:none;float:left;width:100%;margin:0 0 30px;position:relative;padding-left:90px;}
.comment .avatar 	{position:absolute;top:0;left:0;z-index:2;}
.comment-box		{width:100% !important;}

.comments .depth-2 	{padding-left:180px;margin-left:0;width:auto;}
.depth-2 .avatar		{left:90px;}

.comments .depth-3 	{padding-left:270px;margin-left:0;width:auto;}
.depth-3 .avatar		{left:180px;}

.comment-list .avatar		{float:left;width:90px;}
.comment-box				{padding:12px 0 0 20px;float:left;width:780px;position:relative;background:#fff;min-height:90px;-webkit-box-shadow:0 0 1px rgba(0,0,0,.2);-moz-box-shadow:0 0 1px rgba(0,0,0,.2);box-shadow:0 0 1px rgba(0,0,0,.2);}
.comment-box .meta 			{color:#999;padding:0 0 8px;}
.comment-box a 				{color:#F2716A;}
.meta 						{font-size:13px;}
.meta strong 					{color:#F2716A !important;padding:0 10px 0 0;}
.comment-reply-link			{float:right;position:absolute;top:10px;right:10px;background:#FF7B74;color:#fff !important;font-size:12px;font-weight:600;text-align:center;padding:6px 13px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.comment-reply-link:focus,
.comment-reply-link:hover	{background:#F4716A;}
.comment-text				{float:left;width:90%;color:#666;}
.comment-text p 				{font-size:13px;font-weight:500;padding:0 0 15px;}
.comment-meta a 				{position:absolute;bottom:0;left:0;background:#FF7B74;color:#fff;height:30px;line-height:30px;color:#fff !important;display:inline-block;width:100%;}

.comment-respond			{margin:30px 0 0;float:left;width:100%;border-top:1px solid rgba(255,255,255,1);-webkit-box-shadow:0 -1px 0 rgba(0,0,0,.15);-moz-box-shadow:0 -1px 0 rgba(0,0,0,.15);box-shadow:0 -1px 0 rgba(0,0,0,.15);}
.comment-respond h2			{font-size:19px;padding:30px 0;}
.comment-respond .container 	{padding:20px;}


/*RECIPE*/
.recipe 			{float:left;max-width:100%;}
.recipe .image 	{float:left;width:100%;-webkit-box-shadow:0 0 1px rgba(0,0,0,.2);-moz-box-shadow:0 0 1px rgba(0,0,0,.2);box-shadow:0 0 1px rgba(0,0,0,.2);}

.recipe .intro 	{width:100%;height:auto;margin:0 0 30px;background:#fff;padding:17px 20px;border:none;-webkit-box-shadow:0 0 1px rgba(0,0,0,.2);-moz-box-shadow:0 0 1px rgba(0,0,0,.2);box-shadow:0 0 1px rgba(0,0,0,.2);}
.recipe .intro p {color:#666;padding:0 0 15px;}

.instructions 		{float:left;width:100%;}
.instructions ol 				{counter-reset: li;list-style: none;*list-style: decimal;padding: 0;margin:0;}
.instructions li				{position: relative;display: block;background: #fff;color: #666;font-size:14px;padding:15px 20px 18px;min-height:50px;margin:0 0 30px 50px;-webkit-box-shadow:0 0 1px rgba(0,0,0,.2);-moz-box-shadow:0 0 1px rgba(0,0,0,.2);box-shadow:0 0 1px rgba(0,0,0,.2);}
.instructions li:before		{content: counter(li);counter-increment: li;position: absolute;	left: -50px;top:0;background: #FF8E88;color:#fff;height:50px;width: 50px;line-height: 50px;text-align: center;font-size:33px;-webkit-text-shadow:0 1px 0 rgba(0,0,0,.15);-moz-text-shadow:0 1px 0 rgba(0,0,0,.15);text-shadow:0 1px 0 rgba(0,0,0,.15);}
.instructions li:after		{position: absolute;	content: '';border: .5em solid transparent;left:0;top: 20px;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
.instructions li:hover:after	{left:0;border-left-color: #FF8E88;}		
	
dl 			{display:inline-block;width:100%;margin:0 0 22px;}
.recipe dt,
.basic dt 	{float:left;margin:0 0 8px;padding:0 10px;height:35px;font-size:13px;line-height:37px;background:#fff;-webkit-box-shadow:0 1px 0 rgba(0,0,0,.15);-moz-box-shadow:0 1px 0 rgba(0,0,0,.15);box-shadow:0 1px 0 rgba(0,0,0,.15);}
.recipe dd,
.basic dd 	{float:left;margin:0 0 8px;padding:0 15px;height:35px;font-size:14px;line-height:37px;font-weight:600;background:#FF7B74;color:#fff;-webkit-box-shadow:0 1px 0 rgba(0,0,0,.15);-moz-box-shadow:0 1px 0 rgba(0,0,0,.15);box-shadow:0 1px 0 rgba(0,0,0,.15);}	

.basic dt 		{width:65%;}
.basic dd 		{width:35%;background:#FF8E88;}
.user dt 			{width:50%;font-size:13px;}
.user dd 		{width:50%;background:#DBBC94;}
.user dd a 		{color:#fff;}
.ingredients dt 	{width:35%;font-size:13px;}
.ingredients dd 	{width:65%;}	
	
.nutrition table 	{width:100%;border-spacing:0;border-collapse:collapse;margin:0;}
.nutrition td 	{border:none;border-top:1px solid #ddd;padding:9px 20px;color:#666;background:#fff !important;font-size:13px;}
.nutrition td:last-child {text-align:right;color:#444;}
	
.share .boxed .ico	{margin:16px 0 9px;}

.recipe .members {margin-bottom:0 !important;}

/*SUBMIT RECIPE*/
.submit_recipe section 						{padding:0 0 20px;display:inline-block;width:100%;}
.submit_recipe input 							{float:left;}
.f-row .third 						{width:33.33%;float:left;padding-right:20px;position:relative;}
.f-row .third:nth-child(3n)			{padding-right:0;}
.submit_recipe .ingredient > div 				{padding-right:20px;float:left;}
.submit_recipe .large					 	{width:50%;}
.submit_recipe .small					 	{width:11.7%;}
.submit_recipe .remove						{float:right;font-size:37px;padding:0;width:37px;height:37px;line-height:37px;}
.submit_recipe .instruction .full			{width:95%;}
.submit_recipe h2		{padding:0 0 18px;}
.submit_recipe h2 span 	{font-size:13px;font-weight:400;}

.submit_recipe button,
.submit_recipe .button {width:263px;text-align:center;max-width:100%;}
	
/*SEARCH FOR RECIPES*/
.recipefinder			{width:100%;padding:22px 30px 30px !important;margin:0 0 30px;}
.recipefinder h3			{color:#666;padding:5px 0 25px;font-size:16px;}
.recipefinder .left		{float:left;width:30%;}
.recipefinder .right 	{float:right;width:70%;padding-left:30px;}
.recipefinder .f-row 	{padding:10px 0 0 !important;}
.recipefinder button 		{position:absolute;top:10px;right:0;font-size:37px;padding:0;width:37px;height:37px;line-height:37px;-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.recipefinder input[type="submit"] {float:right;}
.recipefinder .gold 	{margin:0 3px 3px 0;}
.recipefinder .pink 	{margin:0 3px 3px 0;}
.recipefinder .ingredients	{padding:0 0 29px;}
.ingredients .button 		{text-transform:none;}
.recipefinder .search 					{position:relative;}
.recipefinder .search input[type="submit"] {background:url(../images/ico/icons.png) -198px 0 no-repeat !important;width:17px;height:17px;position:absolute;top:10px;right:25px;padding:0 !important;font-size:0px;}

.recipefinder .dropdown 			{position:relative;float:left;width:270px;border:1px solid #ddd;font-size:13px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:9px 10px;color:#999;}
.recipefinder .dropdown:before 	{content:"";background:url(../images/ico/icons.png) -152px -168px no-repeat;width:11px;height:10px;position:absolute;top:13px;right:13px;}
.recipefinder .dropdown dt 		{cursor:pointer;}
.recipefinder .dropdown dd		{display:none;padding:9px 0 0;}
.recipefinder .dropdown dd a 			{color:#999;}
.recipefinder .dropdown dd a:hover 	{color:#666;}

/*TABS*/
.tabs 				{float:left;width:100%;background:#fff;margin:0 0 30px;-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.15);-moz-box-shadow:0 1px 0 rgba(0,0,0,0.15);box-shadow:0 1px 0 rgba(0,0,0,0.15);}
.tabs li 				{float:left;height:50px;font-size:13px;line-height:50px;font-weight:500;border-right:1px solid #ddd;text-transform:uppercase;width:14.28%;text-align:center;position:relative;}

/*.tabs li:last-child 	{border-right:none;}*/
.tabs li a 				{display:inline-block;width:100%;height:100%;padding:0 15px;color:#444;}
.tabs .active  a,
.tabs a:hover 		{background:#ff7b74;color:#fff;}
.tabs .active:before	{display:block;border-color: #ff7b74 transparent transparent;border-style: solid;border-width: 8px 8px 0;top:48px;content: "";height: 0;left:48%;position: absolute;width: 0;} 		

.container .tabs 			{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;margin:0;}
.container .tabs li 			{border:1px solid #ddd;}
.container .tab-content 		{padding:0 15px;border:1px solid #ddd;border-top:0;margin:0 0 20px;float:left;width:100%;}


/*MY PROFILE*/
.tab-content .basic dt 	{width:38%;height:38px;line-height:40px;}
.tab-content .basic dd 	{width:62%;height:38px;line-height:38px;}
.tab-content .boxed .ico {margin:9px 0 5px;}

.my_account h2 {padding:4px 0 21px;}

/*SIDEBAR*/
.main .widget	{float:left;width:100%;margin:0 0 30px;background:#fff;-webkit-box-shadow:0 0 1px rgba(0,0,0,.2);-moz-box-shadow:0 0 1px rgba(0,0,0,.2);box-shadow:0 0 1px rgba(0,0,0,.2);}
.widget h3		{font-size:15px;color:#666;padding:16px 20px;}
.widget h3 span 	{font-size:13px;font-style:italic;color:#999;}
.widget div 		{padding:0 20px;}
.widget li div 		{padding:0;}
.widget button, .widget input[type="button"],.widget input[type="reset"],.widget input[type="submit"] {float:right;}
.widget ul 		{padding:0;margin:0;}
.widget ul li 		{border-top:1px solid #ddd;padding:9px 20px;}
.widget ul li:before {display:none;}

.widget .boxed {float:left;}

.widget dt,
.widget dd 	{float:left;border-top:1px solid #ddd;padding:9px 20px;}
.widget dt 	{width:60%;color:#666;}
.widget dd 	{width:40%;text-align:right;color:#444;}
.widget dd strong {font-weight:400;}

.searchform div 					{display:inline-block;padding:20px;width:100%;}
.searchform label 					{font-size:16px;font-weight:500;color:#666;padding:0 0 20px;}
.searchform input[type="submit"] 	{margin:20px 0 0;}

.articles_latest li 		{padding:0 !important;float:left;width:100%;}
.articles_latest li a 				{color:#777;font-weight:600 !important;display:table;width:100%;height:100%;padding:0 10px 0 0;text-align:left;}
.articles_latest li a:hover		{background:#FF7B74;color:#fff;}
.articles_latest li img 	{max-width:90px;float:left;margin:0 15px 0 0;}
.articles_latest li h6		{padding:0;width:70%;display:table-cell;vertical-align:middle;}


/*RECIPE CATEGORIES*/
.boxed				{padding:0 !important;margin:0 !important;display:inline-block;width:100%;}
.boxed li 			{float:left;width:33.334%;height:90px;font-size:11px;line-height:1.2;font-weight:700;text-transform:uppercase;text-align:center;overflow:hidden;padding:0 !important;border-top:none !important;-webkit-transition: all .2s ease-in;-moz-transition: all .2s ease-in;-o-transition: all .2s ease-in;-ms-transition: all .2s ease-in;transition: all .2s ease-in;}
.boxed li a 			{color:#fff;float:left;width:100%;height:100%;font-weight:700 !important;-webkit-transition: all .2s ease-in;-moz-transition: all .2s ease-in;-o-transition: all .2s ease-in;-ms-transition: all .2s ease-in;transition: all .2s ease-in;}
.boxed .light a 		{background:#FF8E88;}
.boxed .medium a 		{background:#FF7B74;}
.boxed .dark a 		{background:#F4716A;}
.boxed.gold 			{background:none !important;padding:0;}
.gold .light a 		{background:#DBBC94;}
.gold .medium a 		{background:#D0B28C;}
.gold .dark a 		{background:#C5A985;}
.boxed .ico 			{margin:15px 0 0;-webkit-transition: all .2s ease-in;-moz-transition: all .2s ease-in;-o-transition: all .2s ease-in;-ms-transition: all .2s ease-in;transition: all .2s ease-in;}
.boxed li span 		{display:inline-block;width:100%;padding:0 9px;vertical-align:sub;}
.boxed li a:hover			{-webkit-box-shadow:inset 0 0 30px rgba(0,0,0,.2);-moz-box-shadow:inset 0 0 30px rgba(0,0,0,.2);box-shadow:inset 0 0 30px rgba(0,0,0,.2);}
.boxed li a:hover .ico 		{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}

.above-sidebar .boxed li {width:11.11%;}

/*CATEGORIES*/
.categories 					{padding:0 !important;}
.categories li				{float:left;display:block;width:100%;border-bottom:1px solid #ddd;font-size:15px;font-weight:600;border-top:none !important;padding:0 !important;}
.categories li:last-child 	{border-bottom:none;}
.categories li a 				{float:left;display:block;width:100%;color:#777;position:relative;padding:15px 50px 15px 20px;}
.categories li a:before 		{content:"";background:url(../images/ico/icons.png) -161px -13px no-repeat;width:10px;height:11px;position:absolute;top:20px;right:20px;}
.categories li a:hover,
.categories li.active a 		{background:#FF7B74;color:#fff;}
.categories li a:hover:before,
.categories li.active a:before {background-position:-174px -13px;}

.categories.right a 					{padding-left:50px;padding-right:20px;}
.categories.right a:before 			{left:20px;right:auto;background-position:-161px 0;}
.categories.right li a:hover:before,
.categories.right li.active a:before 	{background-position:-174px 0;}

/*MEMBERS*/
.item-options 				{padding:0 !important;position:relative;z-index:2;}
.item-options a 				{position:relative;float:left;width:90px;height:30px;text-align:center;color:#fff;font-size:12px;line-height:32px;font-weight:600;text-transform:uppercase;position:relative;background:#FF7B74;}
.item-options a:first-child 	{background:#FF8E88;}
.item-options a:last-child 	{background:#F5716A;}
.item-options a.selected:before 	{content:"";position:absolute;top:30px;left:45%;width:0;height:0;border-style: solid;border-width: 8px 8px 0 8px;border-color: #FF7B74 transparent transparent transparent;}
.item-options a:hover 			{text-decoration:none;}

.avatar					{float:left;width:90px;height:90px;overflow:hidden;color:#fff;text-align:center;position:relative;font-size:13px !important;font-weight:400 !important;}
.avatar span 			{font-size:12px;border-right:1px solid #ddd;position:absolute;left:0;bottom:0;z-index:2;width:100%;background:#fff;color:#666;padding:6px 10px !important;text-transform:none;}
.avatar a 				{color:#666;}
.boxed li:nth-child(3n) .avatar span {border:none;}

/*FORM ELEMENTS*/
fieldset 							{display:inline-block;width:100%;}
label 							{display:inline-block;cursor: pointer;color:#666;position:relative;}
input,textarea 						{outline: none;}
button, input, select, textarea 		{font-family:'Raleway',Arial,Helvetica,sans-serif;margin: 0; vertical-align: baseline; *vertical-align: middle;outline:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none; -webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
button, input[type="button"], input[type="reset"], input[type="submit"] {border:none; cursor: pointer; text-transform:uppercase;-webkit-appearance: button; background:#FF7B74;color:#fff;text-align:center;font-size:13px;font-weight:700;padding:11px 14px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover,
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {background:#F4716A;}
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; width:100%;height:100%;}
input[type="search"] { -webkit-appearance: textfield;}
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
input[type="search"],input[type="email"],input[type="text"],input[type="number"],input[type="password"],textarea {width:100% !important;border:1px solid #ddd;color:#666;font-size:13px;font-weight:400;padding:9px 10px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
textarea	{resize: none;height:150px;}
select {height:37px;font-size:13px;line-height:1;font-weight:600;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border:1px solid #ddd;color:#666;}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
textarea:focus 	{border-color:#bbb;}
input[type="file"] {border:1px solid #ddd;font-size:14px;font-weight:600;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#666;padding:6px;margin:5px 0;}
form .alert {display:none;}

.f-row 		{float:left;display:block;width:100%;padding-bottom:20px !important;position:relative;}
.req		{color:#FF7A73;font-size:35px;font-weight:600;display:inline-block;vertical-align:middle;}
.f-row .req 	{position:absolute;top:2px;right:7px;z-index:2;}

.captcha label {float:left;line-height:37px;}
.captcha input {width:100px !important;float:right;}

.bwrap		{float:right !important;padding-right:0 !important;}
.bwrap input 	{width:100%;}

.checkbox {padding:10px 0 !important;}

/* General settings */
div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {-webkit-font-smoothing: antialiased; }
div.selector, div.checker, div.button, div.radio, div.uploader {display: -moz-inline-box;display: inline-block;*display: inline;zoom: 1;vertical-align: middle;}
div.selector:focus, div.checker:focus, div.button:focus, div.radio:focus, div.uploader:focus {outline: 0; }
div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {margin: 0;padding: 0; }

.highContrastDetect {background: url("../images/bg-input.html") repeat-x 0 0;width: 0px;height: 0px; }

/* Input & Textarea */
input.uniform-input,select.uniform-multiselect,textarea.uniform 							{padding:9px 10px;border:1px solid #ddd;color:#999;}
input.uniform-input.active,select.uniform-multiselect.active,textarea.uniform.active,
input.uniform-input.focus,select.uniform-multiselect.focus,textarea.uniform.focus  		{border-color:#bbb;color:#666;}

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.checker input,
input[type="search"],
input[type="search"]:active 			{-moz-appearance: none;-webkit-appearance: none; }

/* Select */
div.selector		 				{font-size:13px;border:1px solid #ddd;line-height:37px;height:37px;position: relative;overflow: hidden;width:100% !important;padding-left:10px;background:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
div.selector span 				{color:#999;position:relative;text-overflow: ellipsis;display: block;overflow: hidden;white-space: nowrap;height:37px;line-height:37px;background:#fff;cursor: pointer;width: 100% !important;display: block;}
div.selector span:before			{content:"";background:url(../images/ico/icons.png) -217px -2px no-repeat;width:13px;height:10px;position:absolute;top:13px;right:10px;}
div.selector select 				{opacity: 0;filter: alpha(opacity=0);-moz-opacity: 0;border: none;background: none;position: absolute;height:37px;top:0;left:0;width: 100%;}
div.selector.active,
div.selector.focus 				{border-color:#aaa;}
div.selector.hover span, 
div.selector.focus span 			{color:#666;}
div.selector.hover.active, 
div.selector.focus.active 		{background-position: 0 -208px;}
div.selector.hover.active span, 
div.selector.focus.active span 	{background-position: right -78px;}
div.selector.disabled, 
div.selector.disabled.active 	{background-position: 0 -234px;}
div.selector.disabled span, 
div.selector.disabled.active span {background-position: right -104px;}

/* Checkbox */
div.checker 						{position:relative;top:-2px;margin-right:10px;}
div.checker, 
div.checker span, 
div.checker input 					{width:20px;height:20px; }
div.checker span 					{display: -moz-inline-box;display: inline-block;*display: inline;zoom: 1;text-align: center;background: url(../images/ico/form_elements.png) 0 0 no-repeat;}
div.checker span.checked 			{background-position: 0 -21px; }
div.checker input 					{opacity: 0;filter: alpha(opacity=0);-moz-opacity: 0;border: none;background: none;display: -moz-inline-box;display: inline-block;*display: inline;zoom: 1; }
div.checker.active span					{background-position: 0 0;}
div.checker.active span.checked 			{background-position: 0 -21px;}
div.checker.hover span, 	
div.checker.focus span 					{background-position: 0 0;}
div.checker.hover span.checked, 
div.checker.focus span.checked 			{background-position: 0 -21px;}
div.checker.hover.active span, 
div.checker.focus.active span 			{background-position: 0 -21px;}
div.checker.hover.active span.checked, 
div.checker.focus.active span.checked 	{background-position: 0 -21px;}
div.checker.disabled, 
div.checker.disabled.active 				{background-position: 0 0;}
div.checker.disabled span.checked, 
div.checker.disabled.active span.checked 	{background-position: 0 -21px;}

/* Radio */
div.radio 					{position: relative;top:-2px;margin-right:10px;}
div.radio, 
div.radio span, 
div.radio input 				{width:20px;height:20px; }
div.radio span 				{display: -moz-inline-box;display: inline-block;*display: inline;zoom: 1;text-align: center;background: url(../images/ico/form_elements.png) 0 -42px no-repeat;}
div.radio span.checked 		{background-position: 0 -63px; }
div.radio input 				{opacity: 0;filter: alpha(opacity=0);-moz-opacity: 0;border: none;background: none;display: -moz-inline-box;display: inline-block;*display: inline;zoom: 1;text-align: center;}
div.radio.active span 					{background-position:0 -42px;}
div.radio.active span.checked				{background-position:0 -63px;}
div.radio.hover span, 
div.radio.focus span						{background-position:0 -42px;}
div.radio.hover span.checked, 
div.radio.focus span.checked 				{background-position:0 -63px;}
div.radio.hover.active span, 
div.radio.focus.active span 				{background-position:0 -42px;}
div.radio.hover.active span.checked, 
div.radio.focus.active span.checked 		{background-position:0 -63px;}
div.radio.disabled span, 
div.radio.disabled.active span 			{background-position:0 -42px;}
div.radio.disabled span.checked, 
div.radio.disabled.active span.checked 	{background-position:0 -63px;}

/* Uploader */
div.uploader 				{height: 37px;width: 100%;background:#fff;border:1px solid #ddd;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;cursor: pointer;position: relative;overflow: hidden; -webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
div.uploader span.action 		{height:31px;margin:2px;padding:0 14px;background:#ff7b74;color:#fff !important;font-size:13px;line-height:31px;font-weight:700;text-transform:uppercase;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-align: center;float:left;display: inline;overflow: hidden;cursor: pointer; -webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in; }
div.uploader span.filename 	{text-overflow: ellipsis;display: block;font-size:13px;overflow: hidden;white-space: nowrap;float: right;text-align:right;cursor: default;height: 37px;line-height: 37px;width: 200px;padding: 0 10px;color:#999;}
div.uploader input 			{opacity: 0;filter: alpha(opacity=0);-moz-opacity: 0;border: none;background: none;position: absolute;top: 0;right: 0;float: right;cursor: default;width: 100%;height: 100%; }
div.uploader.active span.action 				{background:#f4716a;}
div.uploader.focus 							{border-color:#aaa;color:#666;}
div.uploader.hover span.action, 
div.uploader.focus span.action 				{background:#f4716a;} 
div.uploader.focus.active span.action 		{border-color:#aaa;color:#666;}
div.uploader.disabled, 
div.uploader.disabled.active 				{}
div.uploader.disabled span.action, 
div.uploader.disabled.active span.action 		{}

/*CONTACT PAGE*/
.thememodal 				{display:inline-block;width:48%;margin:25px auto;padding-bottom:0;text-align:left;float:none;}
.thememodal h3			{color:#666;padding:5px 0 20px;font-size:16px;font-weight:600;}
.thememodal textarea 		{height:94px;}
.thememodal .captcha 		{float:left;width:48%;}
.thememodal .bwrap 		{float:right;width:48%;}
.thememodal p 			{font-size:13px;padding:0 0 5px;}
.center {text-align:center;}

/*ERROR PAGE*/
.errorPage .content,
.errorPage .sidebar 		{margin:95px 0;}
.error-container		{-webkit-box-shadow:0 0 1px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 0 1px rgba(0, 0, 0, 0.2);box-shadow:0 0 1px rgba(0, 0, 0, 0.2);}
.errorPage .container	{padding:20px 20px 2px;}
.errorPage p 			{padding:0 0 20px;}
.error_type				{color:#fff;float:left;width:100%;height:114px;background:#FF8E88;text-align:center;font-size:94px;line-height:100px;font-weight:600;-webkit-text-shadow:0 0 1px rgba(0,0,0,.15);-moz-text-shadow:0 0 1px rgba(0,0,0,.15);text-shadow:0 0 1px rgba(0,0,0,.15);}
.error_text				{color:#fff;float:left;width:100%;height:57px;background:#FF7B74;text-align:center;font-size:22px;line-height:57px;font-weight:600;-webkit-text-shadow:0 0 1px rgba(0,0,0,.15);-moz-text-shadow:0 0 1px rgba(0,0,0,.15);text-shadow:0 0 1px rgba(0,0,0,.15);}


/*FOOTER*/
.foot 						{padding:30px 0 0;color:#666;-webkit-box-shadow:0 -1px 2px rgba(0,0,0,.1);-moz-box-shadow:0 -1px 2px rgba(0,0,0,.1);box-shadow:0 -1px 2px rgba(0,0,0,.1);}
.foot article 					{margin-bottom:0;min-height:142px;}
.foot h5 					{font-size:17px;font-weight:600;padding:0 0 20px;}
.foot a 						{color:#666;}
.foot a:hover 				{color:#F4716A;}

.social li 				{text-align:center;float:left;display:block;margin:0 2px 2px 0;padding:0 !important;border:none !important;width:32px;height:32px;background:#FF7B74;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
.social li:before			{display:none !important;}
.social li:last-child 	{margin-right:0;}
.social li:hover 			{background:#F4716A;-webkit-box-shadow:inset 0 0 30px rgba(0,0,0,.2);-moz-box-shadow:inset 0 0 30px rgba(0,0,0,.2);box-shadow:inset 0 0 30px rgba(0,0,0,.2);}
.social li a 				{float:left;display:block;text-indent:-99999px;position:relative;width:100%;height:100%;}
.social li a:before 		{content:"";position:absolute;}
.social .facebook a:before  		{background:url(../images/ico/icons.png) 0 -34px no-repeat;width:7px;height:15px;top:9px;left:12px;}
.social .youtube a:before  		{background:url(../images/ico/icons.png) -30px -33px no-repeat;width:17px;height:16px;top:8px;left:8px;}
.social .rss a:before  			{background:url(../images/ico/icons.png) -64px -34px no-repeat;width:16px;height:16px;top:8px;left:8px;}
.social .gplus a:before  			{background:url(../images/ico/icons.png) -99px -34px no-repeat;width:15px;height:15px;top:9px;left:8px;}
.social .linkedin a:before  		{background:url(../images/ico/icons.png) -132px -35px no-repeat;width:15px;height:14px;top:9px;left:8px;}
.social .twitter a:before  		{background:url(../images/ico/icons.png) -164px -34px no-repeat;width:20px;height:16px;top:8px;left:6px;}
.social .pinterest a:before  		{background:url(../images/ico/icons.png) -201px -33px no-repeat;width:13px;height:16px;top:8px;left:10px;}
.social .vimeo a:before  			{background:url(../images/ico/icons.png) -234px -34px no-repeat;width:17px;height:16px;top:8px;left:7px;}

.bottom		 	{float:left;width:100%;border-top:1px solid #ddd;padding:20px 0 0;color:#888;}
.foot .bottom 	{padding:20px 0 5px;margin:0 15px;width:1170px;max-width:100%;}
.copy 			{float:left;max-width:30%;}
.foot-nav		{float:right;max-width:70%;}
.foot-nav li 		{float:left;padding:0 0 0 20px;}
.foot-nav li a 	{color:#888;}

/*OTHER ELEMENTS*/
.box h2 	{font-size:20px;font-weight:500;padding:3px 0 15px;line-height:1.2;}


/*ICONS*/
.ico 		{display:inline-block;overflow:hidden;background-image:url(../images/ico/icons.png);background-repeat:no-repeat}
.i-search 		{background-position:0 0;width:25px;height:24px; }
.i-account 		{background-position:-54px 0;width:24px;height:24px;}
.i-submitrecipe 	{background-position:-106px 0;width:25px;height:24px;  }

.i-appetizers 	{background-position:-40px -63px;width:40px;height:40px;}
.i-cocktails	{background-position:-80px -63px;width:40px;height:40px;}
.i-deserts		{background-position:-120px -63px;width:40px;height:40px;}
.i-eggs			{background-position:-160px -63px;width:40px;height:40px;}
.i-equipment	{background-position:0 -63px;width:40px;height:40px;}
.i-events		{background-position:-200px -63px;width:40px;height:40px;}
.i-fish			{background-position:-240px -63px;width:40px;height:40px;}
.i-fitness		{background-position:-280px -63px;width:40px;height:40px;}
.i-healthy		{background-position:0 -101px;width:40px;height:40px;}
.i-asian		{background-position:-80px -101px;width:40px;height:40px;}
.i-mexican		{background-position:-40px -101px;width:40px;height:40px;}
.i-asian		{background-position:-80px -101px;width:40px;height:40px;}
.i-pizza		{background-position:-200px -101px;width:40px;height:40px;}
.i-kids			{background-position:-120px -101px;width:40px;height:40px;}
.i-meat			{background-position:-160px -101px;width:40px;height:40px;}
.i-snacks		{background-position:-280px -101px;width:40px;height:40px;}
.i-salads		{background-position:-240px -101px;width:40px;height:40px;}
.i-storage		{background-position:0px -142px;width:40px;height:40px;}
.i-vegetarian	{background-position:-40px -142px;width:40px;height:40px;}

.i-facebook			{background-position:-89px -189px;width:15px;height:28px;}
.i-twitter			{background-position:-106px -191px;width:32px;height:26px;}
.i-favourites		{background-position:-142px -188px;width:32px;height:28px;}

.i-view				{background-position:-267px -16px;width:28px;height:25px;}

.i-category 			{background-position:-250px 0;width:15px;height:15px;}
.i-comments 			{background-position:-232px 0;width:15px;height:12px;}
.i-likes			{background-position:-231px -16px;width:15px;height:13px;}
.i-date				{background-position:-249px -15px;width:14px;height:15px;}
.i-easy				{background-position:-268px 0;width:14px;height:13px;}
.i-medium			{background-position:-283px 0;width:14px;height:13px;}
.i-hard				{background-position:-298px 0;width:14px;height:13px;}

.i-members			{background-position:0 -225px;width:111px;height:95px;}
.i-recipes			{background-position:-111px -225px;width:80px;height:95px;}
.i-photos			{background-position:-192px -225px;width:99px;height:95px;}
.i-posts			{background-position:0 -323px;width:95px;height:95px;}
.i-comment			{background-position:-172px -323px;width:106px;height:95px;}
.i-articles			{background-position:-96px -323px;width:75px;height:95px;}

.i-had_best_recipe 			{background-position:-80px -142px;width:40px;height:40px;}
.i-was_featured 				{background-position:-120px -142px;;width:40px;height:40px;}
.i-added_first_recipe		{background-position:-160px -142px;;width:40px;height:40px;}
.i-added_several_recipes	{background-position:-200px -142px;;width:40px;height:40px;}
.i-wrote_blog_post			{background-position:-240px -142px;;width:40px;height:40px;}
.i-wrote_comment			{background-position:-280px -142px;width:40px;height:40px;}
.i-won_contest				{background-position:0 -182px;width:40px;height:40px;}
.i-shared_recipe			{background-position:-40px -182px;width:40px;height:40px;}

/*PRELOADER*/
.preloader {position:fixed;top:0;left:0;width:100%;height:100%;background:#fff;z-index:999;}

.spinner {width:90px;height:90px;background-color:#FF7A73;margin: 20% auto;-webkit-animation: spinner 1.2s infinite ease-in-out;-moz-animation: spinner 1.2s infinite ease-in-out;animation: spinner 1.2s infinite ease-in-out;}

@-webkit-keyframes spinner {
  0%	{-webkit-transform: perspective(120px) }
  50% 	{-webkit-transform: perspective(120px) rotateY(180deg) }
  100% 	{-webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes spinner {
  0% 	{transform: perspective(120px) rotateX(0deg) rotateY(0deg);-moz-transform: perspective(120px) rotateX(0deg) rotateY(0deg);-ms-transform: perspective(120px) rotateX(0deg) rotateY(0deg);-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) } 
  50% 	{transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);-moz-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);-ms-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)} 
  100% 	{transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);-moz-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);-ms-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);}
}





/*****05-04-2016*****/
.img-circle a.MasterChef { float: left;    margin: 0 10px 0 0; width:28%;}
.img-circle img { border-radius: 50%;}
.img-circle p { float: left;  width: 59%; font-size:15px;}
.user-nav.right ul li { width: auto; height:auto;}
/*.top-header {background:#2c2c2c;}*/
.user-nav.right ul li span{padding:14px 10px;}
.advetisement { padding: 0px 0;  background: #F4716A; float:left; width:100%;}
.add-center { text-align: center;}
.add-left {  float: left;  width: 33%;}

.add-left img {  display: inline;    margin: 3px 0 0;    width: 111px;}
.add-center {float: left;  padding: 5px 0;  text-align: left;  width: 60%;}

.menu-navbar {
  background: #f4716a;
}
.logo-dv a {
    margin: 14px 30px 0 0;
    max-width: 250px;
}
.menu-navbar .main-nav li a{ padding:20px  25px; }
.menu-navbar .main-nav li a span{ margin:0px 0; padding:0;}

.search_recipes .user-nav ul li a{ padding:10px 15px;}
.search_recipes .user-nav ul li{ height:auto; width:auto;}
.search_recipes .user-nav li span{ /*float:none;*/padding: 0 10px;}

.search_recipes .user-nav .ico {
    margin-top: 0;
}
.dish-chef-detail span a:hover{ color:#ff7b74 }
.dish-chef-detail span a {
    font-size: 13px;
    font-weight: 400;
	color:#333;
}
.dish-chef-detail span.chef-tag{ font-size:12px; color:#999;}
.search_recipes .user-nav {
    top:20px; width:auto;
}
.top-header{ /*overflow:hidden;*/ float:left; width:100%;}
.menu-navbar .main-nav li:hover a,
.menu-navbar .main-nav .current-menu-item{background:#FF7B74;color:#fff;}

.dish-chef-detail {
    float: left;
    width: 67%;
}


.top-header .user-nav li a { padding:0 0 4px;}

.intro .bg > img {
    width: 100%;
}

.full-images-bg {
  background: rgba(0, 0, 0, 0) url("../images/recipe.jpg") no-repeat scroll 0 0 / 100% auto; height:338px;
  float: left;
  padding: 40px 0 0;
  width: 100%;
}

.full-images-bg .recipefinder { background:none;
  float: none;
  margin: 0px auto 0px;
  padding: 22px 30px 0px !important;
  width: 100%;
  max-width:800px;
  overflow:hidden;
  box-shadow:none;
}
.one-third.submit { width: auto !important;}
.full-images-bg.dietain { background: rgba(0, 0, 0, 0) url("../images/banner_2.jpg") no-repeat scroll 0 0 / 100% auto; padding:40px 0 0; }
.full-images-bg.cookingclass { background: rgba(0, 0, 0, 0) url("../images/cookingclasses.jpg") no-repeat scroll 0 0 / 100% auto; padding:40px 0 0; }

.container.recipefinder .one-third{ width:28%; padding:0 5px 15px;}
.one-third.submit {
  width: auto !important;
}

.banner-txt.text-center h3 { color: #fff; font-size: 41px; padding: 0; text-align: center; text-shadow: 0 2px 1px #000;
  text-transform: capitalize; }
.banner-txt.text-center {   margin: 30px 0 0;}
.para-text.text-center { float: left;  text-align: center;  width: 100%;}
.para-text.text-center p{ color:#fff; text-transform:capitalize; margin:0; padding:0;}
.recipes_form .one-half {  padding: 0 5px 24px;    width: 41%;}
.recipes_form .ingredients {  float: left;    width: 100%;}
.colounm_box {color:#000; float:left; max-width:260px; text-align:center; margin:0 15px;	position:relative;}
.text-success.man {color:#f4716a; display:inline-block; font-size:40px; padding:10px 0; margin:20px 0 60px; font-family:"Lobster",cursive;  text-align: center; font-weight:bold; text-transform:capitalize; border-bottom:1px solid #ccc;}

.colounm_box img {display: inline; }
.left-side-img h2 {background: #fff; text-align: center;font-family:"Lobster",cursive;}
.colounm_box > p {color: #999;}
.colounm_box h4 { padding: 15px 0 7px;}
.colounm_box::after {background-image: url("../images/arrow-solid.png");background-repeat: no-repeat; background-size: 164px auto;
  content: ""; height: 34px;  position: absolute;  right: -84px;  top: 12px;  width: 164px;}
.colounm_box.last::after {background-image:inherit;}
.left-side-img { width:27.5%;   padding: 20px; float:left;}
.transparent_bg { background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;   float: left; width: 100%;}
.full-width .text-success.man { color: #fff;}
.right-side-content {float: left; /*max-width: 870px;*/  width:72.5%;}
.white-bg { background: #fff none repeat scroll 0 0;  padding: 20px; float:left; width:100%;}
.heading-content > h4 { float:left; color: #333; font-family: lobster;  font-size: 24px;  padding: 0; text-transform: capitalize;}
.heading-content .pull-right { float: right;}
.img-slide {float: left;  width: 100%;}
.img-slide ul{ list-style:none; padding:0;}
.img-slide ul li { content: inherit; float: left;  margin:0 19px 0 0;   padding: 0;    width: 146px;}
.img-slide ul li:last-child{ margin:0;} 
.img-slide {border-bottom: 1px solid #ddd; float: left; margin: 20px 0; padding: 0 0 20px; width: 100%;}

.login_details .user-nav.right{ position:static;}
.how_work_heading {  text-align: center; position:relative;}
.w-divider6 { margin:0 auto 40px; position: relative;  text-align: center;}
.w-divider6 i { background:#fff!important; border-radius: 33px; bottom: -17px; color: #d0ae5e; font-size: 16px; height: 36px;  left: 0;
  margin: auto;padding: 10px; position: absolute;  right: 0;  text-align: center;  width: 36px;}
.w-divider6 h3 { border-bottom: 1px solid #d9d9d9; color:#f4716a;  display: inline-block;  font-size:40px;  font-weight: 700;  line-height: 27px;
margin-bottom: 0; margin-top: 5px; padding:35px; font-family:"Lobster",cursive;  text-align: center; font-weight:bold; text-transform:capitalize;}
.content.full-width .w-divider6 h3{ color:#fff;}
 
.cooking_bg {background: url("../images/cooking_bg.jpg"); float: left;  width: 100%; padding: 30px 0;}
.cooking_bg .content.three-fourth { width: 100%;}
.catbox.red_bg {background: #f4716a; padding: 30px;}
  .diatain_bg {background: url("../images/dietician_plan.jpg"); float: left;  width: 100%; padding: 30px 0;}
  
    .test_bg {background: url("../images/baner.jpg"); float: left;  width: 100%;}
  
.navbar.navbar-static-top.navbar-sticky.navbar-stuck.navbar-scrolled.swatch-white.refreshing{
  background: #fff none repeat scroll 0 0;
  position: fixed;
  width: 100%;
  z-index:999999;
}
  
 .head .container {
    box-shadow: inherit !important;
    clear: both;
    float: none;
    max-width: 1170px; width:100%; padding:0;
}
  .navbar-nav > li nav.user-nav li a {
  padding: 10px 15px;
}

.navbar-nav > li nav.user-nav{ margin:20px 0 0}
 
  #masthead.navbar-sticky .navbar-collapse{ overflow:inherit !important;}
  #masthead .nav > li > a{ color:#333;}
  
.navbar-header button {
  background: none !important;
  color: #fff !important;
  margin: 28px 20px 0;
}
.navbar-toggle .icon-bar{ background:#333}
.sticky-wrapper {
    height: auto !important;
}

/*RESPONSIVENESS*/
@media (max-width: 1240px) {
.intro .three-fourth 	{width:66.66%;}
.intro .one-fourth 		{width:33.33%;}
.main-nav li a span{ font-size:12px; padding:8px 8px}
.foot .bottom {margin-left:1.25%;margin-right:1.25%;width:97.5%;}
.full-images-bg.dietain{ background-size:inherit;}
.boxed li,.item-options a 		{width:33.33%;}
.members li,.item-options a 	{height:auto !important;}
.boxed .avatar 				{width:100%;height:auto;}

.basic dt,.ingredients dd 		{width:58%;}
.basic dd,.ingredients dt 		{width:42%;}

.post					{position:relative;padding-left:90px;}
.post .entry-meta 		{position:absolute;top:0;left:0;z-index:2;}
.post .container 		{width:100%;}
.post .entry-featured	{width:45%;}
.post .entry-content		{width:55%;}
.post .actions			{width:100%;padding:0;}
.post .actions > div 		{margin:0 0 10px;padding:15px 15px 0;}

.share .boxed li 		{width:100%;height:auto;}
.share .boxed .ico 	{margin-bottom:5px;}
.boxed li span 		{padding-bottom:10px;}

.actions .difficulty {width:42%;}

.entries .two-third {width:100%;}
.entries .one-third {width:50%;}

.featured img,
.my_account figure img,
.entry img 				{width:100%;} 		
.featured.one-third	{width:100%;}
.featured.one-third figure		{float:left;width:30%;}	
.featured.one-third .container 	{float:left;width:70%;}
.featured:first-child h2 {position:static;}

section.cta h2 {line-height:1.4;}
.full-images-bg{ background-size:inherit;}
#masthead .nav > li > a {
  font-size: 12px;
  padding: 0 10px;
}
.logo {
  
    margin: 6px 50px 5px 0;
}
}

@media (min-width: 1024px) and ( max-width:1199px){
.featured.one-third{ width:33%;}

.diatain_bg .entry.entry.one-fourth {
    width: 25%;
}
.featured.one-third .container{ width:100%;}

	
	
	
}

@media (max-width: 1024px) {
.head					{position:relative !important;}
.head .wrap				{width:100%;max-width:100%;}
.main-nav				{display:none;}
.slicknav_menu 			{display:block;position:absolute;width:100%;min-height:90%;}
.slicknav_btn			{width:90px;height:90px;float:left;text-align:center;position:absolute;z-index:99999;top:45px;right:270px;}
.slicknav_open						{background:#dbbc94;}
.slicknav_open .slicknav_icon-bar 	{background:#fff;}
.slicknav_icon			{margin:32px auto 0;display:inline-block;}
.slicknav_icon-bar 		{background:#dbbc94;margin:0 0 6px;display: block; width:40px; height:3px; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px;}
.slicknav_menutxt		{display:none;}
.slicknav_nav			{position:absolute;z-index:99999;top:90px;left:0;width:100%;background:#dbbc94; clear: both;font-weight:600;font-size:15px;text-transform:uppercase;padding:10px 0;}
.slicknav_nav ul,
.slicknav_nav li 			{display: block;text-align:left;}
.slicknav_nav li ul  		{text-transform:none;}
.slicknav_nav .slicknav_arrow 	{font-size: 0.8em; margin: 0 0 0 0.4em;}
.slicknav_nav .slicknav_item 	{cursor: pointer;}
.slicknav_nav .slicknav_row 		{display: block;}
.slicknav_nav a 						{display: block;padding:10px 20px;color:#fff;}
.slicknav_nav a a 					{padding:10px 0;}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a 	{display: inline;}
.slicknav_menu:before,
.slicknav_menu:after {content: " ";display: table;}
.slicknav_menu:after {clear: both;}
.bg img {top:0;bottom:auto;}

.copy,.foot-nav {max-width:100%;width:100%;text-align:center;}
.foot-nav	{margin-bottom:15px;}
.foot-nav li 	{display:inline-block;float:none;padding:0 10px 10px;}

.recipe .one-half,
.recipe .one-fourth 				{margin-right:0;width:100%;}
.recipe .one-fourth dl 			{float:left;width:33.33%;padding:0 30px 0 0;}
.recipe .one-fourth dl:last-child {padding:0;}
.recipe .one-fourth dt 			{width:100%;margin:0;}
.recipe .one-fourth dd			{width:100%;}

.post .entry-featured	{width:50%;}
.post .entry-content		{width:50%;}

.entries .one-fourth	{min-height:100px;}
.entry .actions > div	{padding:0;margin:0;}
.entry .actions div div 	{padding:10px 0 !important;margin:0;width:100% !important;border-right:0;border-bottom:1px solid #ddd;}
.entry .actions div div:last-child {border:none;}

.home .head {position:relative;}
.intro .wrap {margin-top:40px;text-align:center;}
.intro				{height:100%;background:url(../images/intro.jpg) 50% 50% no-repeat;background-size:cover;padding-bottom:30px;}
/*.bg 					{display:none;}*/
.intro .row			{margin:0;}
.intro .one-fourth,
.intro .three-fourth {width:100%;padding:0;}
.intro .widget 		{width:100% !important;margin:0;text-align:left;padding-bottom:15px;}
.textwrap 			{float:left;width:48%;}
.textwrap p 			{padding:0 !important;display:inline;}
.intro .widget form 	{float:right;width:48%;}
.text .more			{margin:10px 0 30px;}
.text h1 	{padding-bottom:40px;font-size:40px;}
.text p		{max-width:100%;}
.top-header { padding:0 0 0;
    overflow: hidden;
}
.recipefinder .left,
.recipefinder .right {width:50%;}

.full-width .entries .entry {width:33.33%;}

.icons .one-sixth {width:33.33%;}

.modal {width:55%;}
.comment-reply-link{ top:5px;}
.slicknav_nav{ top:120px; }
/*.slicknav_btn{ right:180px;}*/
.img-slide {
  overflow: hidden;
  white-space: nowrap;
  width: 830px;
}

.colounm_box{ width:210px;}
}

@media (max-width:880px) {
.head .wrap {width:100%;}

.post .entry-featured	{width:100%;}
.post .entry-content		{width:100%;}

.three-fourth,.one-half,.one-third,.one-fourth,.one-fifth,.one-sixth,.one-third, .two-third {width:100%;}

.main .widget 					{width:48.25%;margin-right:3.5%;}
.main .widget:nth-child(2n) 		{margin-right:0;}
.main .widget img 				{width:100%;}
.recipePage .sidebar				{margin:0;}


.f-row .third 			{width:100%;margin-bottom:20px;padding:0;}
.f-row .third:last-child {margin-bottom:0;}

.entries .one-third {width:100%;}

.my_account figure,
.entry figure				{float:left;width:30%;}
.entry .container,
.my_account .container 	{float:left;width:70%;}

.featured.one-third .button 	{margin:0;}
.featured.two-third .more,
.featured .more				{padding:15px 0 10px !important;}
.featured.two-third .button 	{width:100%;}

.icons .one-sixth {width:50%;}

.submit_recipe .large 	{width:66.66%;margin-bottom:20px;}
.submit_recipe .small 	{width:33.33%;margin-bottom:20px;padding-right:0 !important;}
.ingredient .third,
.submit_recipe .instruction .full 		{width:90%;}

.recipefinder .left,
.recipefinder .right {width:100%;padding:0;}

.full-width .entries .entry {width:100%;}

.modal {width:60%;}

.full-images-bg .recipefinder{ margin:0 auto 30px;}
.login_details .user-nav.right {
  width: 300px;
}

}

@media (max-width:780px) {
	.top-header .user-nav {
  position: static;
}
.top-header{ padding:0;}
.comment-reply-link{ top:5px;}
.wrap {width:94%;}
.categories li a			{padding-left:20px !important;padding-right:20px !important;}
.categories li a:before 	{display:none;}

.tabs li 				{width:100%;}
.tabs .active:before {display:none;}

.above-sidebar .boxed li {width: 16.66%;}

.modal, 
.modal .bwrap {width:100%;}

table, thead, tbody, th, td, tr {display: block; }
thead tr {position: absolute;top: -9999px;left: -9999px;}
tr {border: 1px solid #ddd; }
td {border: none;border-bottom: 1px solid #ddd; position: relative;}
.pricing tr:nth-child(2) td {font-size:30px;}

.slicknav_nav{ top:164;}
.full-images-bg .recipefinder {
  margin: 9px auto 30px;
}

.w-divider6 h3{ padding:35px 0;}
.banner-txt.text-center {  margin: 0;}

.colounm_box::after{ background:none;}


.collapse.navbar-collapse.main-navbar ul {
    margin: 25px 0 0;
}
.top-header .user-nav li a{ padding:12px 0;}
.i-search{ float:none;}
.i-submitrecipe{ float:none;}
.user-nav li span { width: 100%;}

.navbar-toggle { margin-top: 28px;}

li.last nav.user-nav li {
  display: none;
}
.user-nav li{ width:140px;}
}


@media (max-width:767px) {
	.left-side-img{ width:100%;}
	.right-side-content{ width:100%;}
	.cooking_bg figure, .cooking_bg .container {
    width: 100%;
}
.img-slide {
  overflow: hidden;
  white-space: nowrap;
  width: 830px;
}
#masthead .nav > li > a{ text-align:left;}
.colounm_box{ float:none; max-width:100%; width:100%;}
li.last nav.user-nav li {
  display: none;
}

.navbar.navbar-static-top.navbar-sticky.navbar-stuck.navbar-scrolled.swatch-white.refreshing .logo {
  margin-top: 15px;
  width: 100px;
}
.slicknav_nav {
    top: 170px;
}
.slicknav_btn{ top:86px;}
}


@media (max-width: 540px) {

.wrap 		{width:90%;}
.head 		{/*height:240px;*/ overflow:hidden;}
.logo 		{margin-left:0;margin-right:0;width:100%;text-align:center;}
.logo img 	{margin:0 auto;}
.user-nav		{top:90px;}
.slicknav_btn	{top:140px;}
.slicknav_nav	{top:208px;}

.recipe .one-fourth dl {width:100%;padding:0;}
.main .widget {width:100%;margin-right:0;}

.post {padding-left:0;}
.post .entry-meta {position:static;width:100%;}

.post .actions > div	{border:none;padding-top:0;margin:0;}
.actions div div 	{padding:10px 0 !important;margin:0;width:100% !important;border-right:0;border-bottom:1px solid #ddd;}

.comments .depth-2,
.comments .depth-3 	{padding-left:90px;}
.depth-2 .avatar,
.depth-3 .avatar		{left:0;}

.one-third figure,
.one-third .container,
.two-third figure,
.two-third .container,
.full-width .entries .entry figure,
.full-width .entries .entry .container	{width:100% !important;}

section.cta .wrap		{text-align:center;}
section.cta h2 		{width:100%;float:left;}
section.cta .button 	{float:none;margin:0 0 20px;}

.ingredient .third,
.submit_recipe .instruction .full 		{width:80%;}

.above-sidebar .boxed li {width:33.33%;}

.pricing  div {width:100%;margin:0 0 30px !important;}
.add-center{ width:100%;}
.login_details .user-nav {position: static;}
.user-nav.right ul li span {   padding: 2px 10px;}
.logo-dv a {
  max-width: 100%;
}

.logo-dv {
    text-align: center;
}
.banner-txt.text-center h3{ font-size:20px;}

.container.recipefinder .one-third{ width:100%;}
.recipes_form .one-half{ width:100%;}
.full-images-bg{ height:auto;}

}

@media (max-width: 360px) {
	
.logo {text-align:left;width:auto;max-width:80%;margin-left:15px;}
.user-nav	{width:100%;}
.user-nav li	{width:33.33%;}

/*.slicknav_btn {top:0;right:0;left:auto;}*/
/*.slicknav_nav {top:90px;}*/

.quicklinks .button {width:90%;margin:0 0 15px;}
.top-header .user-nav li span{ font-size:8px;}

.slicknav_btn {
    left: 0;
    right: auto;
}


}
.bottom-border {  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 1);}
	
.tab-content-heading {	padding-top: 30px;}	


.bottom-border {  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 1);}
	
.tab-content-heading {	padding-top: 30px;}	


.buton{
	margin-bottom: 40px;
}
.buton button{
	padding: 11px 47px;
}
.nutrition h1{
	padding: 7px 20px;
}
#top{
	margin-top: 5px;
}
#up{
	top:-6px;
}
#pad{
	padding-bottom: 20px;
}
.coupan_new{
	padding: 20px 0px;
	position: relative;
}
#width{
	width: 50% !important;
}
#position{
	position: absolute;
	right: 50%;
    top: 25%;
}
#left{
	float: right;
}
#half{
	width: 48%;
	float: right;
	margin-top: 20px;
}

.blog-section {
    padding: 3em 0;
    text-align: center;
}

.welcome-img {
    margin: 0;
    padding: 0;
    width: 60%;
}
a.mask {
    display: block;
    overflow: hidden;
    text-decoration: none;
}

img.zoom-img {
    transform: scale(1, 1);
    transition-duration: 250ms;
    transition-timing-function: ease-out;
}







.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2
}
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0
}
.modal-open {
    overflow: hidden
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%)
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}
.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}
.modal-header .close {
    margin-top: -2px
}
.modal-title {
    margin: 0;
    line-height: 1.42857143
}
.modal-body {
    position: relative;
    padding: 15px
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}
.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px
}
.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}
.modal-footer .btn-block+.btn-block {
    margin-left: 0
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }
    .modal-sm {
        width: 300px
    }
}
@media (min-width: 992px) {
    .modal-lg {
        width: 900px
    }
}

/*.navbar-header::after, .navbar-header::before {
    content: " ";
    display: table;
}

.navbar-header::after {
    clear: both;
}
.navbar-header::after, .navbar-header::before {
    content: " ";
    display: table;
}

.navbar-header {
    float: left;
}
.navbar-brand {
    float: left;
    font-size: 20px;
    height: 90px;
    line-height: 24px;
    padding: 33px 15px;
}
.navbar-collapse::after {
    clear: both;
}
.navbar-collapse::after, .navbar-collapse::before {
    content: " ";
    display: table;
}
.nav::after {
    clear: both;
}
.nav::after, .nav::before {
    content: " ";
    display: table;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px;
}
.navbar-right {
    float: right !important;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav {
    margin: 16.5px -15px;
}
.nav {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}
.navbar-nav > li {
    float: left;
}
.nav > li {
    display: block;
    position: relative;
}
.navbar-nav > li > a {
    line-height: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.nav > li > a {
    display: block;
    padding: 10px 15px;
    position: relative;
}*/

/*
.menucontainer::after, .menucontainer::before {
    content: " ";
    display: table;
}

.menucontainer::after {
    clear: both;
}
.menucontainer::after, .menucontainer::before {
    content: " ";
    display: table;
}

.top-bar .menucontainer {
    position: static;
}
.menucontainer, .menucontainer-fullwidth {
    position: relative;
    z-index: 3;
}
.menucontainer {
    width: 1170px;
}
.menucontainer {
    width: 970px;
}
.menucontainer {
    width: 750px;
}
.menucontainer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar::after {
    clear: both;
}*/
